## Modeling 

**Name**: Diane Lu

**Contact**: dianengalu@gmail.com

**Date**: 07/18/2023

### Table of Contents 

1. [Introduction](#intro)
2. [Final Dataset](#final)
    * Data Dictionary
3. [Collaborative-Filtering Recommendation System without SVD](#nosvd)
4. [Collaborative-Filtering Recommendation System with SVD](#svd)
5. [Collaborative-Filtering Recommendation System with FunkSVD](#funksvd)

### Introduction <a class="anchor" id="intro"></a>

asdf

#### Importing Python Libraries 

Importing necessary libraries for the EDA process.

In [1]:
# Import the basic packages
import numpy as np 
import pandas as pd 

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.decomposition import TruncatedSVD

# Import the surprise packages
from surprise import SVD
from surprise.reader import Reader
from surprise import Dataset
from surprise.prediction_algorithms.matrix_factorization import SVD as FunkSVD
from surprise.model_selection import train_test_split
from surprise.model_selection import GridSearchCV
from surprise import accuracy

import warnings

# Ignore all warnings
warnings.filterwarnings("ignore")

### Model Dataset <a class="anchor" id="final"></a>

**Data Dictionary:**
* `user_id`: unique user id
* `business_id`: unique user id
* `rating`: star rating

In [2]:
model_data = pd.read_pickle('/Users/diane/Desktop/BrainStation/Brainstation_Capstone/yelp_data/model_data.pkl')

In [3]:
model_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1203530 entries, 40 to 5572793
Data columns (total 5 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   user_id          1203530 non-null  int64
 1   business_id      1203530 non-null  int64
 2   rating           1203530 non-null  float64
 3   restaurant_name  1203530 non-null  object
 4   categories       1203530 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 55.1+ MB

In [4]:
model_data.head()

,user_id,business_id,rating,restaurant_name,categories
40,53031,6620,4.0,Thaitation,[Thai]
41,53031,4147,2.0,Howling Wolf Taqueria,"[Bars, Arts & Entertainment, Nightlife, Music ..."
42,53031,12401,3.0,Santarpio's Pizza,"[Pizza, American (Traditional), Italian]"
43,53031,1357,2.0,The Gallows,"[Seafood, Bars, American (New), American (Trad..."
44,53031,3498,3.0,Antique Table,[Italian]

In [5]:
model_data.isnull().sum()

user_id            0
business_id        0
rating             0
restaurant_name    0
categories         0
dtype: int64

In [6]:
print(f"The size of our model dataset is {model_data.shape[0]} entries.")

The size of our model dataset is 1203530 entries.

In [7]:
sampled_model_data = model_data.sample(frac=0.01, random_state=42)

print(f"The size of our sampled model dataset is {sampled_model_data.shape[0]} entries.")

The size of our sampled model dataset is 12035 entries.

### Collaborative-Filtering Recommendation System without SVD <a class="anchor" id="nosvd"></a>

Collaborative filtering is a general technique used in recommendation systems to predict user preferences based on the preferences of similar users. It does not involve matrix factorization. Instead, it relies on computing similarities between users or items to generate recommendations. Collaborative filtering without SVD directly operates on the user-item interaction matrix and may use various similarity metrics to find similar users or items.

In [8]:
# User-Item Interaction Matrix
user_item_matrix = sampled_model_data.pivot_table(index='user_id', columns='business_id', values='rating')
user_item_matrix.sample(5)

business_id,2,4,5,6,8,9,10,11,13,14,...,14301,14305,14306,14308,14310,14313,14315,14317,14318,14321
user_id,,,,,,,,,,,,,,,,,,,,,
71152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
print(f"The shape of the user item matrix is {user_item_matrix.shape[0]} by {user_item_matrix.shape[1]}.")

The shape of the user item matrix is 8981 by 6649.

In [10]:
# Normalize user-item matrix
user_item_matrix_norm = user_item_matrix.subtract(user_item_matrix.mean(axis=1), axis = 'rows')
user_item_matrix_norm.head()

business_id,2,4,5,6,8,9,10,11,13,14,...,14301,14305,14306,14308,14310,14313,14315,14317,14318,14321
user_id,,,,,,,,,,,,,,,,,,,,,
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# User similarity matrix using Pearson correlation
user_similarity = user_item_matrix_norm.T.corr()
user_similarity.head()

user_id,4,10,18,25,27,28,36,49,57,60,...,81055,81063,81091,81092,81094,81101,81115,81130,81132,81133
user_id,,,,,,,,,,,,,,,,,,,,,
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Pick a user ID
picked_userid = 67142

# Remove picked user ID from the candidate list
user_similarity.drop(index=picked_userid, inplace=True)

# Take a look at the data
user_similarity.head()

user_id,4,10,18,25,27,28,36,49,57,60,...,81055,81063,81091,81092,81094,81101,81115,81130,81132,81133
user_id,,,,,,,,,,,,,,,,,,,,,
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Number of similar users
n = 10

# User similarity threashold
user_similarity_threshold = 0.3

# Get top n similar users
similar_users = user_similarity[user_similarity[picked_userid]>user_similarity_threshold][picked_userid].sort_values(ascending=False)[:n]
Q
# Print out top n similar users
print(f'The similar users for user {picked_userid} are', similar_users)

The similar users for user 67142 are Series([], Name: 67142, dtype: float64)

In [9]:
# Calculate the similarity matrix 
similarity_matrix = user_item_matrix.corr()

In [ ]:
# Choose a user for whom we want to make recommendations (e.g., user_id = 5)
target_user_id = 53031

# Get the ratings of the target user
target_user_ratings = user_item_matrix.loc[target_user_id]

# Find similar users to the target user based on the similarity matrix
similar_users = similarity_matrix[target_user_id].drop(target_user_id).sort_values(ascending=False)

# Filter out restaurants the target user has already rated
unrated_restaurants = target_user_ratings[target_user_ratings == 0].index

# Make restaurant recommendations based on the ratings of similar users
recommendations = pd.Series()
for restaurant_id in unrated_restaurants:
    similar_users_ratings = user_item_matrix.loc[similar_users.index, restaurant_id]
    weighted_rating = sum(similar_users_ratings * similar_users) / sum(similar_users)
    recommendations[restaurant_id] = weighted_rating

# Sort the recommendations in descending order
recommendations = recommendations.sort_values(ascending=False)

print("Restaurant recommendations for User {}: \n{}".format(target_user_id, recommendations))

In [10]:
# Function to get top N recommendations for a user
def get_top_N_recommendations(user_id, N=5):
    user_index = user_item_matrix.index.get_loc(user_id)

    similar_users = user_similarity[user_index]

    top_similar_users_indices = similar_users.argsort()[::-1][1:N+1]  # Exclude the user itself

    top_recommendations = user_item_matrix.iloc[top_similar_users_indices].mean(axis=0)
    top_recommendations = top_recommendations.sort_values(ascending=False)
    
    return top_recommendations.index.tolist()

In [11]:
# Example: Get top 5 recommendations for a user 
user_id = 53031
top_recommendations = get_top_N_recommendations(user_id, N=5)
print(top_recommendations)

[10817, 13179, 10569, 4256, 6333, 1675, 901, 6465, 2527, 9567, 9560, 9566, 9571, 9574, 9564, 9575, 9577, 2, 9558, 9580, 9547, 9546, 9545, 9540, 9539, 9536, 9534, 9533, 9529, 9526, 9523, 9549, 9589, 9583, 9584, 9626, 9625, 9624, 9619, 9618, 9617, 9614, 9613, 9611, 9608, 9607, 9604, 9600, 9597, 9596, 9595, 9593, 9592, 9591, 9521, 9587, 9522, 9516, 9520, 9432, 9456, 9455, 9452, 9451, 9450, 9444, 9442, 9441, 9437, 9433, 9427, 9458, 9426, 9425, 9422, 9414, 9411, 9409, 9405, 9403, 9402, 9400, 9457, 9459, 9519, 9493, 9628, 9515, 9512, 9508, 9506, 9504, 9503, 9500, 9495, 9494, 9483, 9461, 9480, 9477, 9473, 9470, 9469, 9468, 9466, 9465, 9463, 9462, 9627, 9643, 9634, 9780, 9806, 9804, 9799, 9798, 9796, 9789, 9788, 9786, 9783, 9782, 9779, 9752, 9774, 9772, 9771, 9769, 9766, 9762, 9760, 9759, 9758, 9754, 9807, 9808, 9810, 9811, 9863, 9862, 9861, 9860, 9857, 9854, 9844, 9842, 9840, 9837, 9836, 9834, 9829, 9828, 9827, 9825, 9824, 9822, 9818, 9815, 9813, 9753, 9750, 9635, 9659, 9686, 9680, 9679, 9675, 9674, 9673, 9665, 9664, 9663, 9661, 9654, 9749, 9651, 9650, 9649, 9648, 9647, 9645, 9644, 9394, 9641, 9637, 9688, 9693, 9695, 9696, 9747, 9746, 9742, 9741, 9740, 9738, 9737, 9736, 9731, 9728, 9726, 9723, 9721, 9720, 9715, 9710, 9709, 9708, 9705, 9698, 9697, 9396, 9385, 9392, 9869, 9081, 9080, 9079, 9077, 9075, 9074, 9069, 9066, 9062, 9058, 9054, 9053, 9049, 9048, 9042, 9034, 9033, 9031, 9030, 9027, 9026, 9025, 9023, 9083, 9084, 9085, 9110, 9140, 9138, 9134, 9129, 9128, 9126, 9119, 9118, 9115, 9114, 9109, 9088, 9106, 9105, 9104, 9102, 9100, 9099, 9098, 9097, 9093, 9091, 9022, 9021, 9015, 8924, 8945, 8943, 8942, 8940, 8939, 8938, 8935, 8931, 8929, 8926, 8920, 8952, 8919, 8918, 8915, 8914, 8912, 8908, 8904, 8901, 8898, 8897, 8949, 8954, 9014, 8982, 9012, 9009, 9008, 9004, 9003, 8999, 8992, 8989, 8988, 8984, 8980, 8959, 8977, 8976, 8970, 8967, 8966, 8965, 8964, 8963, 8961, 8960, 9141, 9142, 9144, 9300, 9319, 9318, 9315, 9314, 9312, 9308, 9307, 9305, 9304, 9302, 9299, 9324, 9292, 9289, 9284, 9283, 9282, 9281, 9277, 9275, 9273, 9272, 9321, 9325, 9270, 9354, 9383, 9382, 9380, 9378, 9375, 9367, 9366, 9365, 9364, 9358, 9352, 9326, 9350, 9349, 9347, 9343, 9340, 9339, 9335, 9334, 9333, 9329, 9271, 9267, 9148, 9182, 9207, 9204, 9201, 9200, 9190, 9189, 9186, 9185, 9184, 9183, 9178, 9217, 9170, 9169, 9167, 9166, 9164, 9162, 9158, 9155, 9153, 9151, 9209, 9220, 9266, 9247, 9263, 9262, 9260, 9259, 9258, 9254, 9253, 9252, 9251, 9248, 9244, 9221, 9242, 9239, 9236, 9235, 9234, 9233, 9231, 9230, 9225, 9223, 9866, 9874, 9870, 10453, 10473, 10472, 10471, 10467, 10466, 10465, 10463, 10460, 10458, 10455, 10452, 10478, 10450, 10449, 10447, 10446, 10441, 10440, 10437, 10436, 10431, 10430, 10477, 10479, 10428, 10514, 10543, 10542, 10540, 10530, 10528, 10527, 10524, 10522, 10519, 10515, 10512, 10482, 10509, 10508, 10507, 10506, 10504, 10500, 10494, 10492, 10490, 10488, 10429, 10427, 10545, 10334, 10364, 10361, 10359, 10358, 10352, 10349, 10348, 10340, 10339, 10337, 10333, 10367, 10326, 10325, 10324, 10321, 10320, 10319, 10314, 10313, 10311, 10308, 10366, 10368, 10426, 10398, 10425, 10424, 10423, 10422, 10416, 10413, 10410, 10409, 10407, 10404, 10394, 10370, 10392, 10391, 10390, 10388, 10379, 10378, 10377, 10376, 10374, 10372, 10544, 10548, 9872, 10700, 10722, 10721, 10713, 10712, 10710, 10709, 10708, 10706, 10704, 10703, 10699, 10724, 10694, 10693, 10690, 10685, 10680, 10679, 10677, 10673, 10671, 10668, 10723, 10725, 10666, 10750, 10773, 10771, 10767, 10766, 10764, 10760, 10759, 10756, 10754, 10753, 10746, 10727, 10744, 10743, 10742, 10741, 10737, 10735, 10733, 10730, 10729, 10728, 10667, 10663, 10549, 10576, 10601, 10600, 10599, 10597, 10596, 10595, 10592, 10590, 10586, 10577, 10575, 10604, 10574, 10570, 10567, 10564, 10561, 10559, 10558, 10557, 10553, 10552, 10603, 10605, 10660, 10628, 10659, 10651, 10648, 10645, 10643, 10642, 10640, 10639, 10638, 10634, 10626, 10606, 10620, 10619, 10618, 10615, 10614, 10613, 10612, 10611, 10610, 10607, 10307, 10306, 10303, 10007, 10023, 10022, 10020, 10018, 10016, 10015, 10013, 10012, 10011, 10009, 10005, 10027, 10003, 10001, 10000, 9999, 9998, 9995, 9993, 9989, 9987, 9986, 10024, 10029, 9981, 10063, 10081, 10080, 10079, 10077, 10076, 10074, 10070, 10067, 10065, 10064, 10061, 10031, 10060, 10059, 10056, 10052, 10048, 10043, 10042, 10038, 10037, 10033, 9984, 9980, 10302, 9893, 9911, 9910, 9908, 9906, 9905, 9903, 9901, 9900, 9896, 9895, 9892, 9926, 9891, 9889, 9887, 9883, 9882, 9881, 9880, 9877, 9875, 8892, 9912, 9930, 9976, 9961, 9975, 9974, 9973, 9972, 9968, 9967, 9965, 9964, 9963, 9962, 9958, 9931, 9956, 9955, 9953, 9949, 9946, 9944, 9941, 9940, 9938, 9936, 10082, 10085, 10086, 10210, 10238, 10236, 10231, 10230, 10227, 10224, 10223, 10221, 10213, 10211, 10209, 10242, 10208, 10206, 10204, 10201, 10200, 10199, 10198, 10197, 10196, 10194, 10240, 10245, 10088, 10271, 10298, 10296, 10294, 10290, 10282, 10281, 10280, 10279, 10277, 10274, 10269, 10247, 10266, 10265, 10264, 10262, 10259, 10257, 10254, 10253, 10250, 10249, 10193, 10192, 10191, 10110, 10129, 10126, 10124, 10122, 10121, 10120, 10116, 10114, 10113, 10112, 10109, 10188, 10108, 10107, 10106, 10105, 10104, 10103, 10099, 10098, 10094, 10090, 10131, 10135, 10143, 10145, 10186, 10183, 10181, 10180, 10179, 10175, 10174, 10173, 10171, 10169, 10167, 10165, 10164, 10162, 10160, 10155, 10154, 10153, 10152, 10150, 10147, 8894, 8883, 8890, 7713, 7743, 7739, 7738, 7736, 7731, 7729, 7728, 7722, 7720, 7719, 7712, 7749, 7711, 7709, 7708, 7707, 7706, 7704, 7701, 7696, 7694, 7689, 7744, 7750, 7678, 7775, 7795, 7792, 7791, 7790, 7789, 7788, 7787, 7785, 7784, 7780, 7772, 7751, 7769, 7768, 7766, 7761, 7759, 7757, 7755, 7754, 7753, 7752, 7682, 7674, 7798, 7603, 7620, 7619, 7618, 7615, 7614, 7613, 7608, 7606, 7605, 7604, 7599, 7624, 7598, 7597, 7596, 7595, 7593, 7592, 7590, 7589, 7588, 7587, 7623, 7625, 7672, 7652, 7669, 7666, 7665, 7663, 7662, 7659, 7658, 7656, 7654, 7653, 7651, 7626, 7649, 7645, 7643, 7638, 7637, 7635, 7630, 7629, 7628, 7627, 7796, 7803, 7583, 7908, 7931, 7926, 7925, 7924, 7921, 7917, 7916, 7914, 7913, 7910, 7902, 7935, 7901, 7900, 7899, 7897, 7896, 7895, 7894, 7893, 7892, 7891, 7934, 7936, 7886, 7961, 7990, 7985, 7983, 7982, 7980, 7971, 7966, 7965, 7963, 7962, 7956, 7939, 7955, 7953, 7951, 7950, 7949, 7948, 7947, 7945, 7941, 7940, 7887, 7885, 7804, 7823, 7840, 7839, 7838, 7836, 7834, 7830, 7829, 7826, 7825, 7824, 7822, 7843, 7821, 7820, 7817, 7816, 7814, 7813, 7812, 7810, 7808, 7807, 7842, 7844, 7884, 7871, 7883, 7882, 7881, 7878, 7877, 7876, 7875, 7874, 7873, 7872, 7869, 7847, 7867, 7866, 7864, 7861, 7860, 7859, 7857, 7855, 7854, 7852, 7586, 7582, 8888, 7284, 7301, 7298, 7296, 7295, 7292, 7291, 7290, 7288, 7286, 7285, 7282, 7303, 7280, 7279, 7278, 7272, 7267, 7265, 7264, 7263, 7262, 7260, 7302, 7304, 7258, 7328, 7347, 7346, 7345, 7344, 7343, 7342, 7341, 7340, 7335, 7332, 7327, 7308, 7326, 7322, 7320, 7319, 7317, 7315, 7314, 7312, 7311, 7310, 7259, 7255, 7352, 7183, 7204, 7203, 7201, 7196, 7193, 7191, 7190, 7188, 7187, 7185, 7182, 7206, 7181, 7178, 7177, 7176, 7166, 7163, 7162, 7161, 7160, 7157, 7205, 7207, 7253, 7231, 7252, 7251, 7248, 7247, 7246, 7243, 7239, 7235, 7233, 7232, 7230, 7210, 7229, 7226, 7224, 7222, 7221, 7219, 7218, 7215, 7214, 7213, 7349, 7354, 7578, 7500, 7522, 7520, 7518, 7516, 7515, 7514, 7513, 7510, 7507, 7501, 7497, 7528, 7493, 7488, 7485, 7483, 7482, 7480, 7478, 7476, 7473, 7472, 7526, 7529, 7468, 7562, 7574, 7573, 7572, 7570, 7569, 7568, 7567, 7566, 7565, 7563, 7558, 7530, 7557, 7556, 7552, 7545, 7542, 7541, 7540, 7536, 7533, 7532, 7470, 7467, 7357, 7387, 7409, 7408, 7407, 7406, 7404, 7400, 7396, 7395, 7392, 7391, 7386, 7412, 7385, 7378, 7375, 7374, 7372, 7370, 7369, 7364, 7360, 7359, 7411, 7413, 7466, 7446, 7464, 7463, 7459, 7458, 7457, 7455, 7453, 7452, 7451, 7450, 7445, 7416, 7444, 7443, 7438, 7436, 7434, 7431, 7430, 7429, 7425, 7424, 7991, 7992, 7993, 8606, 8633, 8629, 8622, 8621, 8618, 8617, 8615, 8609, 8608, 8607, 8605, 8636, 8599, 8597, 8596, 8595, 8592, 8588, 8587, 8583, 8582, 8579, 8635, 8637, 8574, 8666, 8683, 8682, 8681, 8680, 8679, 8677, 8676, 8673, 8671, 8670, 8663, 8638, 8660, 8658, 8657, 8652, 8650, 8645, 8644, 8643, 8642, 8639, 8575, 8573, 8685, 8496, 8516, 8515, 8514, 8512, 8510, 8509, 8507, 8506, 8502, 8497, 8494, 8518, 8489, 8486, 8484, 8483, 8480, 8476, 8473, 8471, 8470, 8468, 8517, 8519, 8572, 8548, 8569, 8566, 8564, 8563, 8561, 8560, 8557, 8556, 8553, 8552, 8547, 8522, 8545, 8544, 8538, 8536, 8535, 8534, 8533, 8526, 8525, 8524, 8684, 8687, 7994, 8809, 8829, 8827, 8826, 8825, 8823, 8819, 8817, 8816, 8815, 8810, 8807, 8833, 8802, 8801, 8796, 8795, 8793, 8790, 8789, 8788, 8786, 8783, 8832, 8834, 8781, 8866, 10785, 8882, 8878, 8877, 8876, 8874, 8872, 8871, 8870, 8869, 8864, 8836, 8863, 8861, 8859, 8856, 8850, 8847, 8845, 8842, 8839, 8838, 8782, 8780, 8688, 8713, 8736, 8731, 8729, 8725, 8723, 8722, 8721, 8719, 8717, 8715, 8710, 8739, 8704, 8703, 8702, 8700, 8699, 8698, 8696, 8695, 8692, 8689, 8737, 8740, 8779, 8760, 8777, 8776, 8775, 8773, 8772, 8770, 8769, 8766, 8764, 8761, 8757, 8741, 8756, 8755, 8751, 8749, 8747, 8746, 8745, 8744, 8743, 8742, 8465, 8460, 8458, 8139, 8153, 8151, 8150, 8149, 8148, 8147, 8145, 8144, 8143, 8140, 8138, 8158, 8134, 8124, 8122, 8118, 8113, 8111, 8110, 8106, 8105, 8101, 8155, 8159, 8098, 8196, 8227, 8225, 8222, 8218, 8217, 8210, 8207, 8206, 8198, 8197, 8195, 8161, 8194, 8191, 8190, 8188, 8183, 8178, 8177, 8169, 8165, 8162, 8099, 8090, 8457, 8014, 8038, 8034, 8029, 8026, 8024, 8023, 8022, 8021, 8020, 8016, 8013, 8044, 8012, 8010, 8009, 8006, 8005, 8003, 8002, 7999, 7998, 7995, 8040, 8048, 8087, 8066, 8086, 8085, 8084, 8077, 8074, 8073, 8072, 8069, 8068, 8067, 8065, 8049, 8064, 8063, 8062, 8061, 8060, 8057, 8056, 8055, 8053, 8051, 8232, 8236, 8237, 8378, 8405, 8399, 8395, 8394, 8392, 8391, 8390, 8386, 8382, 8380, 8377, 8407, 8376, 8375, 8372, 8367, 8365, 8361, 8360, 8359, 8358, 8356, 8406, 8409, 8239, 8432, 8453, 8452, 8450, 8449, 8448, 8446, 8443, 8442, 8441, 8436, 8431, 8414, 8430, 8428, 8425, 8424, 8423, 8422, 8420, 8417, 8416, 8415, 8354, 8353, 8351, 8271, 8291, 8290, 8288, 8286, 8283, 8282, 8279, 8278, 8276, 8275, 8269, 8348, 8268, 8266, 8265, 8262, 8261, 8260, 8258, 8252, 8249, 8248, 8292, 8296, 8297, 8300, 8346, 8344, 8341, 8340, 8338, 8337, 8336, 8329, 8328, 8327, 8326, 8319, 8317, 8316, 8313, 8311, 8309, 8308, 8306, 8303, 8302, 10779, 10791, 10787, 13142, 13158, 13156, 13155, 13154, 13152, 13150, 13149, 13148, 13144, 13143, 13138, 13161, 13136, 13135, 13134, 13132, 13131, 13130, 13129, 13128, 13127, 13126, 13159, 13162, 13123, 13197, 13213, 13212, 13210, 13207, 13206, 13205, 13204, 13202, 13201, 13199, 13195, 13166, 13194, 13192, 13190, 13187, 13186, 13183, 13182, 13181, 13180, 13176, 13125, 13120, 13219, 13060, 13076, 13074, 13073, 13070, 13069, 13066, 13065, 13064, 13063, 13061, 13057, 13078, 13056, 13055, 13054, 13053, 13051, 13050, 13046, 13044, 13040, 13038, 13077, 13079, 13119, 13098, 13118, 13117, 13113, 13107, 13106, 13105, 13103, 13101, 13100, 13099, 13096, 13080, 13095, 13091, 13090, 13089, 13088, 13087, 13085, 13084, 13083, 13081, 13216, 13220, 13034, 13347, 13359, 13358, 13357, 13356, 13355, 13354, 13352, 13351, 13350, 13349, 13342, 13363, 13341, 13339, 13338, 13337, 13336, 13335, 13333, 13330, 13325, 13324, 13361, 13364, 13322, 13396, 13420, 13419, 13416, 13413, 13408, 13404, 13403, 13401, 13400, 13399, 13395, 13366, 13393, 13392, 13391, 13386, 13381, 13375, 13374, 13370, 13368, 13367, 13323, 13321, 13221, 13252, 13273, 13272, 13270, 13269, 13265, 13263, 13262, 13261, 13259, 13256, 13251, 13276, 13250, 13249, 13248, 13245, 13244, 13239, 13237, 13233, 13231, 13225, 13274, 13278, 13320, 13302, 13318, 13317, 13315, 13314, 13312, 13310, 13309, 13308, 13306, 13303, 13301, 13284, 13300, 13299, 13298, 13297, 13294, 13293, 13292, 13289, 13288, 13286, 13037, 13031, 10789, 12759, 12772, 12771, 12770, 12769, 12768, 12765, 12764, 12762, 12761, 12760, 12753, 12776, 12750, 12749, 12747, 12745, 12744, 12741, 12740, 12739, 12738, 12734, 12775, 12779, 12731, 12802, 12823, 12821, 12814, 12813, 12812, 12811, 12809, 12808, 12806, 12803, 12801, 12780, 12796, 12794, 12793, 12792, 12791, 12789, 12787, 12786, 12785, 12782, 12733, 12729, 12827, 12648, 12661, 12660, 12659, 12658, 12657, 12656, 12655, 12654, 12653, 12651, 12642, 12668, 12641, 12639, 12638, 12635, 12633, 12629, 12628, 12626, 12624, 12619, 12666, 12670, 12728, 12703, 12726, 12724, 12719, 12716, 12715, 12711, 12709, 12708, 12705, 12704, 12701, 12674, 12699, 12698, 12694, 12693, 12688, 12684, 12682, 12680, 12679, 12678, 12825, 12829, 13030, 12968, 12985, 12984, 12983, 12981, 12978, 12975, 12973, 12972, 12970, 12969, 12967, 12988, 12966, 12965, 12963, 12960, 12959, 12957, 12954, 12953, 12952, 12951, 12987, 12990, 12947, 13010, 13028, 13026, 13025, 13022, 13020, 13019, 13018, 13015, 13012, 13011, 13008, 12992, 13007, 13004, 13003, 13002, 13000, 12999, 12998, 12996, 12994, 12993, 12949, 12944, 12839, 12862, 12878, 12876, 12875, 12872, 12871, 12869, 12868, 12867, 12866, 12863, 12860, 12881, 12857, 12854, 12850, 12849, 12848, 12847, 12845, 12844, 12843, 12840, 12879, 12882, 12942, 12915, 12936, 12935, 12934, 12931, 12927, 12925, 12924, 12920, 12918, 12916, 12914, 12889, 12912, 12911, 12910, 12908, 12905, 12900, 12899, 12896, 12895, 12893, 13421, 13424, 13425, 14029, 14056, 14054, 14052, 14047, 14041, 14040, 14037, 14035, 14034, 14033, 14028, 14058, 14027, 14021, 14020, 14019, 14016, 14015, 14013, 14011, 14010, 14009, 14057, 14059, 14006, 14086, 14107, 14103, 14101, 14100, 14099, 14096, 14095, 14094, 14088, 14087, 14084, 14061, 14083, 14082, 14080, 14079, 14078, 14075, 14074, 14071, 14068, 14066, 14007, 14004, 14112, 13919, 13938, 13936, 13933, 13931, 13930, 13929, 13926, 13925, 13924, 13923, 13917, 13943, 13915, 13910, 13906, 13905, 13904, 13903, 13901, 13900, 13897, 13896, 13939, 13945, 13999, 13969, 13995, 13987, 13986, 13985, 13982, 13980, 13975, 13974, 13971, 13970, 13965, 13947, 13964, 13961, 13958, 13957, 13956, 13955, 13953, 13951, 13950, 13949, 14110, 14113, 13426, 14255, 14277, 14276, 14274, 14272, 14270, 14266, 14263, 14262, 14261, 14256, 14253, 14281, 14248, 14247, 14244, 14241, 14240, 14239, 14238, 14236, 14232, 14229, 14279, 14283, 14226, 14299, 14318, 14317, 14315, 14313, 14310, 14308, 14306, 14305, 14301, 14300, 14298, 14284, 14297, 14296, 14295, 14294, 14292, 14291, 14290, 14289, 14288, 14285, 14227, 14224, 14119, 14138, 14155, 14153, 14152, 14151, 14150, 14149, 14146, 14144, 14142, 14140, 14136, 14162, 14135, 14132, 14131, 14129, 14128, 14127, 14126, 14123, 14122, 14120, 14160, 14163, 14223, 14196, 14219, 14218, 14213, 14212, 14211, 14205, 14204, 14202, 14200, 14198, 14195, 14167, 14194, 14190, 14189, 14183, 14182, 14180, 14177, 14174, 14171, 14168, 13894, 13890, 13887, 13552, 13578, 13575, 13572, 13565, 13563, 13562, 13561, 13560, 13557, 13556, 13550, 13582, 13549, 13546, 13545, 13544, 13541, 13539, 13537, 13524, 13523, 13521, 13581, 13583, 13519, 13609, 13634, 13633, 13632, 13631, 13629, 13628, 13621, 13618, 13616, 13613, 13605, 13584, 13602, 13601, 13600, 13599, 13598, 13594, 13593, 13589, 13588, 13586, 13520, 13518, 13886, 13444, 13469, 13464, 13463, 13462, 13461, 13458, 13456, 13455, 13449, 13446, 13443, 13471, 13442, 13440, 13435, 13433, 13432, 13431, 13430, 13429, 13428, 13427, 13470, 13472, 13517, 13495, 13516, 13514, 13511, 13505, 13504, 13503, 13501, 13500, 13499, 13496, 13493, 13473, 13492, 13491, 13487, 13486, 13485, 13484, 13483, 13480, 13479, 13478, 13636, 13639, 13640, 13811, 13834, 13833, 13831, 13828, 13826, 13821, 13819, 13814, 13813, 13812, 13806, 13839, 13802, 13800, 13797, 13795, 13794, 13792, 13790, 13788, 13786, 13784, 13837, 13842, 13641, 13868, 13884, 13881, 13877, 13876, 13875, 13874, 13873, 13871, 13870, 13869, 13867, 13843, 13864, 13863, 13857, 13856, 13854, 13850, 13849, 13848, 13847, 13846, 13780, 13779, 13773, 13677, 13699, 13697, 13696, 13694, 13692, 13688, 13687, 13686, 13682, 13681, 13676, 13765, 13673, 13672, 13671, 13670, 13665, 13663, 13659, 13653, 13650, 13647, 13700, 13706, 13707, 13709, 13763, 13758, 13753, 13752, 13749, 13747, 13746, 13745, 13744, 13743, 13742, 13741, 13740, 13738, 13733, 13724, 13718, 13717, 13715, 13713, 13712, 12616, 12615, 12608, 11427, 11442, 11441, 11440, 11437, 11436, 11435, 11433, 11431, 11430, 11428, 11426, 11446, 11425, 11424, 11409, 11407, 11406, 11405, 11403, 11402, 11399, 11397, 11445, 11449, 11394, 11480, 11505, 11501, 11496, 11495, 11492, 11491, 11490, 11489, 11483, 11481, 11477, 11452, 11476, 11474, 11467, 11464, 11463, 11462, 11459, 11458, 11456, 11453, 11396, 11392, 11509, 11306, 11332, 11328, 11327, 11322, 11317, 11316, 11313, 11312, 11311, 11308, 11305, 11337, 11302, 11299, 11296, 11294, 11292, 11288, 11285, 11284, 11282, 11278, 11335, 11340, 11391, 11369, 11390, 11389, 11388, 11387, 11386, 11382, 11380, 11378, 11376, 11371, 11366, 11343, 11365, 11363, 11361, 11358, 11357, 11351, 11350, 11348, 11346, 11345, 11506, 11510, 11738, 11649, 11675, 11674, 11671, 11670, 11667, 11660, 11656, 11655, 11654, 11653, 11648, 11680, 11643, 11642, 11639, 11638, 11636, 11625, 11624, 11623, 11622, 11620, 11678, 11682, 11618, 11708, 11736, 11734, 11731, 11728, 11727, 11725, 11724, 11720, 11711, 11710, 11707, 11685, 11705, 11703, 11702, 11698, 11696, 11695, 11691, 11689, 11687, 11686, 11619, 11616, 11512, 11533, 11554, 11553, 11552, 11550, 11547, 11543, 11540, 11538, 11537, 11534, 11532, 11559, 11531, 11530, 11528, 11527, 11526, 11525, 11522, 11521, 11516, 11514, 11555, 11561, 11615, 11584, 11614, 11603, 11602, 11601, 11599, 11596, 11589, 11587, 11586, 11585, 11581, 11562, 11578, 11575, 11573, 11572, 11571, 11568, 11567, 11566, 11565, 11564, 11277, 11275, 11274, 10941, 10964, 10962, 10959, 10958, 10957, 10956, 10954, 10953, 10948, 10943, 10940, 10966, 10939, 10938, 10936, 10935, 10931, 10928, 10927, 10926, 10925, 10924, 10965, 10968, 10922, 11005, 11029, 11028, 11024, 11021, 11019, 11018, 11015, 11014, 11011, 11007, 11003, 10970, 11002, 10998, 10997, 10988, 10987, 10985, 10984, 10978, 10977, 10972, 10923, 10921, 11272, 10815, 10849, 10848, 10847, 10843, 10841, 10831, 10830, 10828, 10825, 10818, 10814, 10857, 10812, 10811, 10809, 10808, 10804, 10801, 10795, 10794, 10792, 7155, 10854, 10860, 10911, 10884, 10909, 10906, 10905, 10901, 10900, 10897, 10895, 10894, 10887, 10885, 10883, 10861, 10879, 10877, 10876, 10870, 10868, 10867, 10866, 10865, 10864, 10862, 11030, 11032, 11033, 11187, 11209, 11208, 11205, 11204, 11202, 11200, 11199, 11194, 11193, 11191, 11185, 11214, 11184, 11179, 11176, 11173, 11171, 11169, 11166, 11165, 11163, 11162, 11213, 11215, 11035, 11251, 11271, 11268, 11267, 11266, 11262, 11261, 11259, 11258, 11257, 11252, 11250, 11217, 11248, 11246, 11242, 11239, 11234, 11228, 11225, 11223, 11222, 11218, 11161, 11160, 11155, 11070, 11095, 11094, 11092, 11088, 11087, 11084, 11083, 11081, 11077, 11073, 11068, 11153, 11067, 11065, 11063, 11059, 11056, 11054, 11050, 11045, 11042, 11036, 11096, 11097, 11104, 11106, 11151, 11150, 11149, 11146, 11144, 11143, 11142, 11141, 11136, 11134, 11133, 11132, 11131, 11127, 11126, 11120, 11118, 11112, 11110, 11109, 11107, 11737, 11743, 12606, 12306, 12335, 12334, 12331, 12330, 12329, 12325, 12321, 12316, 12314, 12313, 12305, 12337, 12302, 12300, 12299, 12297, 12296, 12295, 12294, 12292, 12290, 12289, 12336, 12338, 12287, 12363, 12383, 12379, 12376, 12375, 12373, 12370, 12369, 12367, 12365, 12364, 12360, 12341, 12359, 12356, 12355, 12354, 12353, 12351, 12350, 12348, 12344, 12342, 12288, 12284, 12388, 12211, 12233, 12227, 12226, 12224, 12221, 12220, 12218, 12217, 12214, 12213, 12208, 12236, 12207, 12202, 12201, 12199, 12194, 12192, 12190, 12187, 12186, 12182, 12234, 12237, 12283, 12261, 12279, 12278, 12275, 12273, 12272, 12271, 12270, 12269, 12268, 12263, 12257, 12241, 12256, 12255, 12254, 12249, 12247, 12246, 12245, 12244, 12243, 12242, 12384, 12390, 11745, 12544, 12557, 12556, 12553, 12552, 12551, 12550, 12549, 12548, 12547, 12546, 12543, 12560, 12542, 12538, 12537, 12535, 12533, 12531, 12524, 12520, 12519, 12515, 12558, 12561, 12513, 12586

In [ ]:
# User-Item Interaction Matrix
user_item_matrix = model_data.pivot_table(index='user_id', columns='business_id', values='ratingg')

In [ ]:
# Fill missing values (NaNs) with zeros
user_item_matrix = user_item_matrix.fillna(0)

In [ ]:
user_item_matrix.shape

(81142, 14323)

In [ ]:
# Displaying the first few rows to get an initial glimpse of the data
user_item_matrix.head()

business_id,--164t1nclzzmca7eDiJMw,--Q3mAcX9t63f7Xcbn7LVA,--UNNdnHRhsyFUbDgumdtQ,-0A60UZl9nbdq2WWySJ_tQ,-0iqnv7MjKrgh7Q7bYRlUQ,-0sIQ96u8XevGUXZ--pvaA,-1ShItlulHnBsoOQWnblzw,-1h2qkElNfKjUPw6brMbIw,-1mmKpu7b_NlBit2pOOPnQ,-1sIJLX71taHD-BgbwY64Q,...,zvKfCAOBzVcxc1HLpoIY8A,zwKIQgthba1FUPWS7nOo0w,zwhSGiftT_yzKSEmMCol6Q,zwn53gHyn1NlX9h3jKFOUg,zyBC3BUkH9klhPhMyQmxAQ,zyHMtStYlKG67WRprp6GZQ,zyauuvAYdVweBK4L7wBRmw,zz4WGzntV59HqhefV5zigQ,zzin1d1oHi81GuI0ufo1VA,zzlkjDG9Rv8Jn-vSolMgyw
user_id,,,,,,,,,,,,,,,,,,,,,
--0zxhZTSLZ7w1hUD2bEwA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--17Db1K-KujRuN7hY9Z0Q,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--2vR0DIsmQ6WfcSzKWigw,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--3WaS23LcIXtxyFULJHTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--3l8wysfp49Z2TLnyT0vg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
similarity_scores = cosine_similarity(user_item_matrix)
similarity_scores.shape

:

:

In [ ]:
def recommend(business_id):
    # Find the index of the input restaurant name in the pivot table
    index = np.where(user_item_matrix.index == business_id)[0][0]

    # Retrieve the similarity scores of the input restaurant with other restaurants,
    # sort them in descending order, and select the top 4 similar items
    similar_items = sorted(list(enumerate(similarity_scores[index])), key=lambda x: x[1], reverse=True)[1:5]

    # Initialize an empty list to store recommended restaurant names
    data = []

    # Iterate through each similar item
    for i in similar_items:
        # Fetch the relevant restaurant name from the 'business_data' dataset
        similar_business_id = user_item_matrix.index[i[0]]

        # Append the restaurant name to the 'data' list
        data.append(similar_business_id)

    # Return the 'data' list containing names of the recommended restaurants
    return data

### Collaborative-Filtering Recommendation System with SVD <a class="anchor" id="svd"></a>

Traditional Singular Value Decomposition is a matrix factorization technique that decomposes a given matrix into three matrices: U (user features), Σ (singular values), and V^T (item features). While traditional SVD can be applied to recommendation systems, it assumes a complete user-item interaction matrix without any missing values. This assumption is often not applicable in real-world scenarios where user-item matrices are typically sparse.

In [ ]:
# User-Item Interaction Matrix
user_item_matrix = model_data.pivot_table(index='user_id', columns='business_id', values='rating').fillna(0)
user_item_matrix.sample(5)

restaurant_name,Gruby's New York Deli,'Ohana,/pôr/ wine house,10 Barrel Brewing Portland,10 Degrees South,101 Beer Kitchen,101 By Teahaus,101 Steak,10th & Piedmont,110 Grill,...,laV,mmmpanadas,nati's southern seafood boil,sweetgreen,wagamama,wagamama - faneuil hall,wagamama - prudential,wagamama - seaport,zpizza,ñoños tacos
user_id,,,,,,,,,,,,,,,,,,,,,
UZRYHUjRmNrPOTjmCa4_gg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
wBT7zqYaMMfsuhHKB5XqgQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
RkLluG0LGXiJgf2i9dGmDQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5AL4m5Nh1P91HuKxewdWPQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
IBOnLGJ4jEti15dw-nasPA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Traditional SVD
svd = TruncatedSVD(n_components=50) 
user_features = svd.fit_transform(user_item_matrix)

In [ ]:
# Function to get top N recommendations for a user using Traditional SVD
def get_top_N_recommendations_svd(user_id, N=5):
    user_index = user_item_matrix.index.get_loc(user_id)
    user_feature = user_features[user_index]

    predicted_ratings = pd.Series(user_features.dot(svd.components_)[user_index])

    top_recommendations = predicted_ratings.sort_values(ascending=False)

    return top_recommendations.index.tolist()[:N]

In [ ]:
# Example: Get top 5 recommendations for a user with user_id = 123 using Traditional SVD
user_id = 'UZRYHUjRmNrPOTjmCa4_gg'
top_recommendations_svd = get_top_N_recommendations_svd(user_id, N=5)
print(top_recommendations_svd)

[8335, 10217, 12180, 11548, 3779]

### Collaborative-Filtering Recommendation System with FunkSVD <a class="anchor" id="funksvd"></a>

FunkSVD is a specific variant of SVD designed for collaborative filtering tasks in recommendation systems. It addresses the sparsity issue present in user-item interaction matrices by incorporating stochastic gradient descent to handle missing values efficiently. FunkSVD performs matrix factorization and decomposes the user-item interaction matrix into user and item latent feature matrices.

In [12]:
# User-Item Interaction Matrix
user_item_matrix = sampled_model_data.pivot_table(index='user_id', columns='business_id', values='rating')
user_item_matrix.sample(5)

business_id,2,4,5,6,8,9,10,11,13,14,...,14301,14305,14306,14308,14310,14313,14315,14317,14318,14321
user_id,,,,,,,,,,,,,,,,,,,,,
53394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# FunkSVD
def FunkSVD(matrix, latent_features=50, learning_rate=0.0002, epochs=100):
    user_matrix = np.random.rand(matrix.shape[0], latent_features)
    item_matrix = np.random.rand(matrix.shape[1], latent_features)
    
    for _ in range(epochs):
        for i in range(matrix.shape[0]):
            for j in range(matrix.shape[1]):
                if matrix[i, j] > 0:
                    error = matrix[i, j] - np.dot(user_matrix[i, :], item_matrix[j, :].T)
                    for k in range(latent_features):
                        user_matrix[i, k] += learning_rate * (2 * error * item_matrix[j, k])
                        item_matrix[j, k] += learning_rate * (2 * error * user_matrix[i, k])
    
    return user_matrix, item_matrix

In [14]:
# Function to get top N recommendations for a user using FunkSVD
def get_top_N_recommendations_funksvd(user_id, N=5):
    user_index = user_item_matrix.index.get_loc(user_id)
    user_feature = user_matrix[user_index]

    predicted_ratings = pd.Series(user_matrix.dot(item_matrix.T)[user_index])

    top_recommendations = predicted_ratings.sort_values(ascending=False)
    
    return top_recommendations.index.tolist()[:N]

In [15]:
# Example: Get top 5 recommendations for a user 
user_id = 53031
top_recommendations_funksvd = get_top_N_recommendations_funksvd(user_id, N=5)
print(top_recommendations_funksvd)

NameError: name 'user_matrix' is not defined

In [16]:
# User-Item Interaction Matrix
user_item_matrix = sampled_model_data.pivot_table(index='user_id', columns='business_id', values='rating')

In [17]:
user_item_matrix.shape

(8981, 6649)

In [18]:
# Displaying the first few rows to get an initial glimpse of the data
user_item_matrix.head()

business_id,2,4,5,6,8,9,10,11,13,14,...,14301,14305,14306,14308,14310,14313,14315,14317,14318,14321
user_id,,,,,,,,,,,,,,,,,,,,,
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
user_item_matrix.columns

Index([    2,     4,     5,     6,     8,     9,    10,    11,    13,    14,
       ...
       14301, 14305, 14306, 14308, 14310, 14313, 14315, 14317, 14318, 14321],
      dtype='int64', name='business_id', length=6649)

In [21]:
# Set the reader with accurate rating scale
my_reader = Reader(rating_scale=(1, 5))

# Create the dataset using the reader object and the rating DataFrame
my_dataset = Dataset.load_from_df(model_data[['user_id', 'business_id', 'rating']], my_reader)

In [22]:
my_dataset

In [23]:
# Set the parameter grid
param_grid = {
    'n_factors': [100, 150], 
    'n_epochs': [10, 20],
    'lr_all': [0.005, 0.1],
    'biased': [False] } #The parameter indicates to the algorithm that all latent information must be stored. 

# Set GridSearchCV with 3 cross-validation
GS = GridSearchCV(SVD, param_grid, measures=['fcp'], cv=3)

# Fit the model with the grid search on the training set
GS.fit(my_dataset)

# Get the best hyperparameters
best_params = GS.best_params['fcp']
print("Best Hyperparameters:", best_params)

Best Hyperparameters: {'n_factors': 150, 'n_epochs': 10, 'lr_all': 0.005, 'biased': False}

In [24]:
# Split train-test set 
trainset, testset = train_test_split(my_dataset, test_size=0.25)

In [25]:
# Set the algorithm
my_svd = FunkSVD(n_factors=100, 
                 n_epochs=10, 
                 lr_all=0.005, 
                 biased=False,
                 verbose=0)
# Fit train set
my_svd.fit(trainset)

# Test the algorithm using test set
my_pred = my_svd.test(testset)

TypeError: FunkSVD() got an unexpected keyword argument 'n_factors'

In [ ]:
# Access the P and Q matrices from the fitted model
P = my_svd.pu  # User matrix (P)
P
Q = my_svd.qi  # Item matrix (Q)
Q

array([[ 0.06194114, -0.14112599, -0.31683039, ..., -0.16282319,
         0.17948535, -0.2134076 ],
       [-0.34110531,  0.29034201, -0.00711049, ...,  0.06596525,
         0.34702696, -0.17407634],
       [-0.13488896,  0.43430532, -0.50093401, ..., -0.14135051,
         0.17353653,  0.30471074],
       ...,
       [-0.02159553,  0.13798291,  0.01950472, ..., -0.07777211,
        -0.0902592 , -0.04440696],
       [-0.08594597,  0.1347763 , -0.08041756, ...,  0.09145995,
         0.18483861, -0.16068039],
       [-0.19825591, -0.11820167, -0.01589753, ...,  0.19685929,
         0.00525314, -0.26347986]])

In [ ]:
# Put my_pred result in a dataframe
df_prediction = pd.DataFrame(my_pred, columns=['user_id',
                                                'business_id',
                                                'actual',
                                                'prediction',
                                                'details'])

# Calculate the difference of actual and prediction into diff column
df_prediction['diff'] = abs(df_prediction['prediction'] - 
                            df_prediction['actual'])

In [ ]:
# Check the df_prediction
df_prediction.head()

,user_id,business_id,actual,prediction,details,diff
0,hYlCMQ278BvKv9IP9v_m4w,Dinesty Dumpling House,1.0,3.298706,{'was_impossible': False},2.298706
1,XUQjZyApQXImNifP-2tAFQ,The Original Hoffbrau,5.0,3.201321,{'was_impossible': False},1.798679
2,Pf7FI0OukC_CEcCz0ZxoUw,KOi Fusion,5.0,4.448637,{'was_impossible': False},0.551363
3,g37Y_WmgPcJI9bf_kPV2Og,First Printer,4.0,2.085826,{'was_impossible': False},1.914174
4,ZveYZ3n1IOjP9H4HfFn3Yg,Fabian's,5.0,3.457422,{'was_impossible': False},1.542578

In [ ]:
# See the best 10 predictions
df_prediction.sort_values(by='diff')[:10]

,user_id,business_id,actual,prediction,details,diff
242072,UZ8_xqhiguIYb9Lu2Wu8og,Museum Of Fine Arts,5.0,5.0,{'was_impossible': False},0.0
49595,9EB_WZ5Lw991mrnfkzkqvQ,Sushi Zanmai,5.0,5.0,{'was_impossible': False},0.0
102938,oSN3M4_WKdlTsnpgqPDiBg,Powell's City of Books,5.0,5.0,{'was_impossible': False},0.0
240896,lGxssT2UmyNZQZWwPDgX3A,Bar Mezzana,5.0,5.0,{'was_impossible': False},0.0
102990,0d89GUvxpJG4oFeL9rtUxQ,Tako Cheena,5.0,5.0,{'was_impossible': False},0.0
240911,nxI8n6lARJpMP5SI8U9S6w,Le Pigeon,5.0,5.0,{'was_impossible': False},0.0
6394,g3UbQdtWX1Luh9_FGIeCAw,Schmidt's Sausage Haus,5.0,5.0,{'was_impossible': False},0.0
102997,Je-c4Qu5od0DwPmYeHYOVg,Screen Door,5.0,5.0,{'was_impossible': False},0.0
280476,krWkC-U2U_YAtYdAvuRwAQ,Santarpio's Pizza,5.0,5.0,{'was_impossible': False},0.0
49526,7mL5GK8Qt3iIkNHfPsGnkg,Ball Square Cafe,5.0,5.0,{'was_impossible': False},0.0

In [ ]:
(df_prediction["diff"] <= 1).mean()

0.6014563800547057

In [ ]:
# Calculate RMSE
rmse = accuracy.rmse(my_pred)

# Calculate MAE
mae = accuracy.mae(my_pred)

RMSE: 1.3122
MAE:  1.0054

In [ ]:
def recommend(business_id, user_item_matrix, P, Q, top_n=5):
    # Find the index of the input restaurant name in the pivot table
    index = user_item_matrix.index.get_loc(business_id)

    # Predict the ratings for the input restaurant using the FunkSVD model
    predicted_ratings = np.dot(P, Q.T)
    restaurant_ratings = predicted_ratings[index, :]

    # Get the indices of top recommended restaurants based on predicted ratings
    top_indices = np.argsort(restaurant_ratings)[::-1][:top_n]

    # Convert the indices to restaurant names
    recommended_restaurants = user_item_matrix.columns[top_indices]

    return recommended_restaurants

In [ ]:
recommend('Miku', user_item_matrix, P, Q, top_n=5)

KeyError: 'Miku'

### Item-Item Collaborative-Filtering Recommendation System

In [ ]:
def item_similarity_matrix(df):
    pivot_df = df.pivot(index='user_id', columns='business_id', values='rating').fillna(0)
    item_sim = np.corrcoef(pivot_df.T)
    return item_sim

item_sim_matrix = item_similarity_matrix(model_data)

ValueError: Index contains duplicate entries, cannot reshape

In [ ]:
def item_item_collaborative_filtering(user_id, item_sim_matrix, user_item_matrix, top_n=5):
    user_items = user_item_matrix.loc[user_id]
    non_rated_items = user_items[user_items.isnull()].index

    scores = item_sim_matrix[:, non_rated_items].T.dot(user_items)
    scores /= np.array(np.abs(item_sim_matrix[:, non_rated_items]).sum(axis=0)).reshape(-1, 1)

    top_items_idx = np.argsort(scores)[::-1][:top_n]
    top_items = non_rated_items[top_items_idx]
    return top_items

# Example usage: Recommend top 5 restaurants for user_id=1
user_id = 1
top_restaurants = item_item_collaborative_filtering(user_id, item_sim_matrix, df.pivot(index='user_id', columns='restaurant_id', values='rating'))
print(top_restaurants)

In [ ]:
model_data['user_id']

40         djp57omz9cccV1wI0_sqqA
41         djp57omz9cccV1wI0_sqqA
42         djp57omz9cccV1wI0_sqqA
43         djp57omz9cccV1wI0_sqqA
44         djp57omz9cccV1wI0_sqqA
                    ...
5572066    Mc4C7fVY0sEcD-U5eOA2Og
5572085    huXqrSaGyNO1aZKiM55EUg
5572508    KEF5A094wOUdBG7SsS7qKg
5572754    zt9FNJMJNVt65Dl1GMuJqA
5572793    jrfAvTdjH0ykHEtJsqTRRA
Name: user_id, Length: 1203530, dtype: object