## Modeling 

**Name**: Diane Lu

**Contact**: dianengalu@gmail.com

**Date**: 07/18/2023

### Table of Contents 

1. [Introduction](#intro)
2. [Business Dataset](#business)
    * Data Dictionary
3. [Review Dataset](#review)
    * Data Dictionary
4. [User Dataset](#user)
    * Data Dictionary
5. [Merged Dataset](#merged)
    * Data Dictionary
6. [Final Dataset](#final)
    * Data Dictionary

### Introduction <a class="anchor" id="intro"></a>

asdf

#### Importing Python Libraries 

Importing necessary libraries for the EDA process.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Business Dataset <a class="anchor" id="business"></a>

**Overview**:



**Data Dictionary:**
* `business_id`: unique business id
* `restaurant_name`: the restaurant's name
* `address`: the full address of the restaurant
* `city`: the city
* `state`: 2 character state code
* `postal_code`: the postal code
* `latitude`: latitude of the restaurant
* `longitude`: longitude of the restaurant
* `restaurant_rating`: star rating
* `review_count`: number of reviews
* `is_open`: 0 or 1 for closed or open
* `categories`: business categories

In [4]:
# Load the pickled DataFrame
business_data = pd.read_pickle('/Users/diane/Desktop/BrainStation/brainstation_capstone/yelp_data/business_data.pkl')

In [5]:
# Print a concise summary of a DataFrame
business_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50764 entries, 0 to 160584
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   business_id        50764 non-null  object
 1   restaurant_name    50764 non-null  object
 2   address            50764 non-null  object
 3   city               50764 non-null  object
 4   state              50764 non-null  object
 5   postal_code        50764 non-null  object
 6   latitude           50764 non-null  float64
 7   longitude          50764 non-null  float64
 8   restaurant_rating  50764 non-null  float64
 9   review_count       50764 non-null  int64
 10  is_open            50764 non-null  int64
 11  categories         50764 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 5.0+ MB

In [6]:
# Displaying the first few rows to get an initial glimpse of the data
business_data.head()

,business_id,restaurant_name,address,city,state,postal_code,latitude,longitude,restaurant_rating,review_count,is_open,categories
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"[Gastropubs, Beer Gardens, Bars, American (Tra..."
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"[Salad, Soup, Sandwiches, Delis, Cafes, Vegeta..."
5,D4JtQNTI4X3KcbzacDJsMw,Bob Likes Thai Food,3755 Main St,Vancouver,BC,V5V,49.251342,-123.101333,3.5,169,1,[Thai]
7,jFYIsSb7r1QeESVUnXPHBw,Boxwood Biscuit,740 S High St,Columbus,OH,43206,39.947007,-82.997471,4.5,11,1,[Breakfast & Brunch]
12,HPA_qyMEddpAEtFof02ixg,Mr G's Pizza & Subs,474 Lowell St,Peabody,MA,01960,42.541155,-70.973438,4.0,39,1,[Pizza]

In [7]:
business_data.isnull().sum()

business_id          0
restaurant_name      0
address              0
city                 0
state                0
postal_code          0
latitude             0
longitude            0
restaurant_rating    0
review_count         0
is_open              0
categories           0
dtype: int64

### Review Data <a class="anchor" id="review"></a>

**Overview**:



**Data Dictionary:**
* `review_id`: unique review id
* `user_id`: unique user id
* `business_id`: unique user id
* `stars`: star rating
* `text`: the review itself
* `rating_type`: 0 or 1 for negative or positive review

In [8]:
# Load the pickled DataFrame
review_data = pd.read_pickle('/Users/diane/Desktop/BrainStation/brainstation_capstone/yelp_data/review_data.pkl')

In [9]:
# Print a concise summary of a DataFrame
review_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8635400 entries, 0 to 8635402
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        float64
 4   text         object
dtypes: float64(1), object(4)
memory usage: 395.3+ MB

In [10]:
# Displaying the first few rows to get an initial glimpse of the data
review_data.head()

,review_id,user_id,business_id,stars,text
0,lWC-xP3rd6obsecCYsGZRg,ak0TdVmGKo4pwqdJSTLwWw,buF9druCkbuXLX526sGELQ,4.0,Apparently Prides Osteria had a rough summer a...
1,8bFej1QE5LXp4O05qjGqXA,YoVfDbnISlW0f7abNQACIg,RA4V8pr014UyUbDvI-LW2A,4.0,This store is pretty good. Not as great as Wal...
2,NDhkzczKjLshODbqDoNLSg,eC5evKn1TWDyHCyQAwguUw,_sS2LBIGNT5NQb6PD1Vtjw,5.0,I called WVM on the recommendation of a couple...
3,T5fAqjjFooT4V0OeZyuk1w,SFQ1jcnGguO0LYWnbbftAA,0AzLzHfOJgL7ROwhdww2ew,2.0,I've stayed at many Marriott and Renaissance M...
4,sjm_uUcQVxab_EeLCqsYLg,0kA0PAJ8QFMeveQWHFqz2A,8zehGz9jnxPqXtOc7KaJxA,4.0,The food is always great here. The service fro...

In [11]:
review_data.isnull().sum()

review_id      0
user_id        0
business_id    0
stars          0
text           0
dtype: int64

### User Data <a class="anchor" id="user"></a>

**Overview**:



**Data Dictionary:**
* `user_id`: unique user id
* `user_name`: the user's first name
* `average_stars`: average rating of all reviews

In [12]:
# Load the pickled DataFrame
user_data = pd.read_pickle('/Users/diane/Desktop/BrainStation/brainstation_capstone/yelp_data/user_data.pkl')

In [13]:
# Print a concise summary of a DataFrame
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2189457 entries, 0 to 2189456
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   user_id        object
 1   user_name      object
 2   average_stars  float64
dtypes: float64(1), object(2)
memory usage: 50.1+ MB

In [14]:
# Displaying the first few rows to get an initial glimpse of the data
user_data.head()

                  user_id  user_name  average_stars
0  q_QQ5kBBwlCcbL1s4NVK3g       Jane           3.85
1  dIIKEfOgo0KqUfGQvGikPg       Gabi           4.09
2  D6ErcUnFALnCQN4b1W_TlA      Jason           3.76
3  JnPIjvC0cmooNDfsa9BmXg        Kat           3.77
4  37Hc8hr3cw0iHLoPzLK6Ow  Christine           3.72

In [15]:
user_data.isnull().sum()

user_id           0
user_name        34
average_stars     0
dtype: int64

In [16]:
user_data.dropna(inplace=True)

In [17]:
user_data.isnull().sum()

user_id          0
user_name        0
average_stars    0
dtype: int64

### Creating Merged Dataset for Modeling <a class="anchor" id="merged"></a>

In [18]:
business_reviews = review_data.merge(business_data, on='business_id')

In [19]:
# Displaying the first few rows to get an initial glimpse of the data
business_reviews.head()

,review_id,user_id,business_id,stars,text,restaurant_name,address,city,state,postal_code,latitude,longitude,restaurant_rating,review_count,is_open,categories
0,lWC-xP3rd6obsecCYsGZRg,ak0TdVmGKo4pwqdJSTLwWw,buF9druCkbuXLX526sGELQ,4.0,Apparently Prides Osteria had a rough summer a...,Prides Osteria,240 Rantoul St,Beverly,MA,01915,42.549609,-70.884046,3.5,83,0,"[Wine Bars, Nightlife, Farmers Market, Bars, I..."
1,hpcZLEzqD4_gPi6eSVi_Bg,Y-j2svl0M_5-jF1ehYuNPQ,buF9druCkbuXLX526sGELQ,2.0,I was really disappointed to say the least. I ...,Prides Osteria,240 Rantoul St,Beverly,MA,01915,42.549609,-70.884046,3.5,83,0,"[Wine Bars, Nightlife, Farmers Market, Bars, I..."
2,3FvY1Se8y2WXqTbaANOqMw,xUCX4GhBpeWxZB0l2lmt_w,buF9druCkbuXLX526sGELQ,5.0,This is as close to dining in Italy as you'll ...,Prides Osteria,240 Rantoul St,Beverly,MA,01915,42.549609,-70.884046,3.5,83,0,"[Wine Bars, Nightlife, Farmers Market, Bars, I..."
3,C1uQNP2ehBktS43ZRMEvkg,2M6KFsWIUXElqcQRz4A0Qg,buF9druCkbuXLX526sGELQ,5.0,Great food and service! Again. 4 out of the la...,Prides Osteria,240 Rantoul St,Beverly,MA,01915,42.549609,-70.884046,3.5,83,0,"[Wine Bars, Nightlife, Farmers Market, Bars, I..."
4,Cja8_35_kQDnF9g4voikzw,t5SRIRU6INiAyVkiMJhRPA,buF9druCkbuXLX526sGELQ,1.0,We ordered the roasted chicken and homemade pa...,Prides Osteria,240 Rantoul St,Beverly,MA,01915,42.549609,-70.884046,3.5,83,0,"[Wine Bars, Nightlife, Farmers Market, Bars, I..."

In [20]:
final_business_reviews = business_reviews.merge(user_data, on='user_id')

In [ ]:
# Displaying the first few rows to get an initial glimpse of the data
final_business_reviews.head()

,review_id,user_id,business_id,stars,text,restaurant_name,address,city,state,postal_code,latitude,longitude,restaurant_rating,review_count,is_open,categories,user_name,average_stars
0,lWC-xP3rd6obsecCYsGZRg,ak0TdVmGKo4pwqdJSTLwWw,buF9druCkbuXLX526sGELQ,4.0,Apparently Prides Osteria had a rough summer a...,Prides Osteria,240 Rantoul St,Beverly,MA,01915,42.549609,-70.884046,3.5,83,0,"[Wine Bars, Nightlife, Farmers Market, Bars, I...",Mel,4.3
1,fLlML7BjkR4_fJnND_hEJw,ak0TdVmGKo4pwqdJSTLwWw,bNZ3-0rse12NKdSVqQ30xw,4.0,"Came with friends, split the funghi pizza and ...",Sulmona,608 Main St,Cambridge,MA,02139,42.362867,-71.093846,4.0,220,1,"[Pizza, Italian, Nightlife, Bars]",Mel,4.3
2,pRtbswupEVIG1Ykj9xkL7Q,ak0TdVmGKo4pwqdJSTLwWw,BVsIaKL-8QXVjt0Z9WoFWw,4.0,Went for late lunch had the combination seafoo...,Village Roast Beef & Seafood,10 Bessom St,Marblehead,MA,01945,42.500243,-70.859237,4.5,53,1,"[Seafood, American (Traditional)]",Mel,4.3
3,fUYl6bnZy4bSGnbPAizXug,ak0TdVmGKo4pwqdJSTLwWw,4MClvr12OXBNvGu8h1yGpA,5.0,"We were super excited to try Sarma, having bee...",Sarma,249 Pearl St,Somerville,MA,02145,42.388180,-71.095545,4.5,883,1,"[Turkish, Middle Eastern, Moroccan, Tapas/Smal...",Mel,4.3
4,jHh2LIXNsnJCMUiyI9pt5w,ak0TdVmGKo4pwqdJSTLwWw,2vH58mhkEl8GdcDug1OwWg,5.0,So glad we made the trip to Woburn for Gene's ...,Gene's Chinese Flatbread Cafe,466 Main St,Woburn,MA,01801,42.481598,-71.150877,4.0,233,1,"[Cafes, Noodles, Chinese]",Mel,4.3

In [ ]:
final_business_reviews.shape

(5574714, 18)

In [ ]:
# Pickle the DataFrame
final_business_reviews.to_pickle('/Users/diane/Desktop/BrainStation/brainstation_capstone/yelp_data/final_business_reviews.pkl')

### Creating Final Dataset for Modeling <a class="anchor" id="final"></a>

**Data Dictionary:**
* `review_id`: unique review id
* `user_id`: unique user id
* `business_id`: unique user id
* `stars`: star rating
* `text`: the review itself
* `restaurant_name`: the restaurant's name
* `address`: the full address of the restaurant
* `city`: the city
* `state`: 2 character state code
* `postal_code`: the postal code
* `latitude`: latitude of the restaurant
* `longitude`: longitude of the restaurant
* `restaurant_rating`: star rating
* `review_count`: number of reviews
* `is_open`: 0 or 1 for closed or open
* `categories`: business categories
* `user_name`: the user's first name
* `average_stars`: average rating of all reviews

In [3]:
final_data = pd.read_pickle('/Users/diane/Desktop/BrainStation/brainstation_capstone/yelp_data/final_business_reviews.pkl')

In [4]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5574714 entries, 0 to 5574713
Data columns (total 18 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   user_id            object
 2   business_id        object
 3   stars              float64
 4   text               object
 5   restaurant_name    object
 6   address            object
 7   city               object
 8   state              object
 9   postal_code        object
 10  latitude           float64
 11  longitude          float64
 12  restaurant_rating  float64
 13  review_count       int64
 14  is_open            int64
 15  categories         object
 16  user_name          object
 17  average_stars      float64
dtypes: float64(5), int64(2), object(11)
memory usage: 765.6+ MB

In [5]:
final_data.head()

,review_id,user_id,business_id,stars,text,restaurant_name,address,city,state,postal_code,latitude,longitude,restaurant_rating,review_count,is_open,categories,user_name,average_stars
0,lWC-xP3rd6obsecCYsGZRg,ak0TdVmGKo4pwqdJSTLwWw,buF9druCkbuXLX526sGELQ,4.0,Apparently Prides Osteria had a rough summer a...,Prides Osteria,240 Rantoul St,Beverly,MA,01915,42.549609,-70.884046,3.5,83,0,"[Wine Bars, Nightlife, Farmers Market, Bars, I...",Mel,4.3
1,fLlML7BjkR4_fJnND_hEJw,ak0TdVmGKo4pwqdJSTLwWw,bNZ3-0rse12NKdSVqQ30xw,4.0,"Came with friends, split the funghi pizza and ...",Sulmona,608 Main St,Cambridge,MA,02139,42.362867,-71.093846,4.0,220,1,"[Pizza, Italian, Nightlife, Bars]",Mel,4.3
2,pRtbswupEVIG1Ykj9xkL7Q,ak0TdVmGKo4pwqdJSTLwWw,BVsIaKL-8QXVjt0Z9WoFWw,4.0,Went for late lunch had the combination seafoo...,Village Roast Beef & Seafood,10 Bessom St,Marblehead,MA,01945,42.500243,-70.859237,4.5,53,1,"[Seafood, American (Traditional)]",Mel,4.3
3,fUYl6bnZy4bSGnbPAizXug,ak0TdVmGKo4pwqdJSTLwWw,4MClvr12OXBNvGu8h1yGpA,5.0,"We were super excited to try Sarma, having bee...",Sarma,249 Pearl St,Somerville,MA,02145,42.388180,-71.095545,4.5,883,1,"[Turkish, Middle Eastern, Moroccan, Tapas/Smal...",Mel,4.3
4,jHh2LIXNsnJCMUiyI9pt5w,ak0TdVmGKo4pwqdJSTLwWw,2vH58mhkEl8GdcDug1OwWg,5.0,So glad we made the trip to Woburn for Gene's ...,Gene's Chinese Flatbread Cafe,466 Main St,Woburn,MA,01801,42.481598,-71.150877,4.0,233,1,"[Cafes, Noodles, Chinese]",Mel,4.3

In [6]:
final_data.isnull().sum()

review_id            0
user_id              0
business_id          0
stars                0
text                 0
restaurant_name      0
address              0
city                 0
state                0
postal_code          0
latitude             0
longitude            0
restaurant_rating    0
review_count         0
is_open              0
categories           0
user_name            0
average_stars        0
dtype: int64

Creating a threshold where we are only including restaurants where review_count is greater than 100.

In [7]:
final_data = final_data[final_data['review_count'] >= 100]
final_data

,review_id,user_id,business_id,stars,text,restaurant_name,address,city,state,postal_code,latitude,longitude,restaurant_rating,review_count,is_open,categories,user_name,average_stars
1,fLlML7BjkR4_fJnND_hEJw,ak0TdVmGKo4pwqdJSTLwWw,bNZ3-0rse12NKdSVqQ30xw,4.0,"Came with friends, split the funghi pizza and ...",Sulmona,608 Main St,Cambridge,MA,02139,42.362867,-71.093846,4.0,220,1,"[Pizza, Italian, Nightlife, Bars]",Mel,4.30
3,fUYl6bnZy4bSGnbPAizXug,ak0TdVmGKo4pwqdJSTLwWw,4MClvr12OXBNvGu8h1yGpA,5.0,"We were super excited to try Sarma, having bee...",Sarma,249 Pearl St,Somerville,MA,02145,42.388180,-71.095545,4.5,883,1,"[Turkish, Middle Eastern, Moroccan, Tapas/Smal...",Mel,4.30
4,jHh2LIXNsnJCMUiyI9pt5w,ak0TdVmGKo4pwqdJSTLwWw,2vH58mhkEl8GdcDug1OwWg,5.0,So glad we made the trip to Woburn for Gene's ...,Gene's Chinese Flatbread Cafe,466 Main St,Woburn,MA,01801,42.481598,-71.150877,4.0,233,1,"[Cafes, Noodles, Chinese]",Mel,4.30
6,qVEnfyt-2BKXPctcRjwfGg,Y-j2svl0M_5-jF1ehYuNPQ,0U7OEx_nBIGDayX-Dh618Q,1.0,I went today and was disgusted. After having t...,Olive Garden Italian Restaurant,153 Andover St,Danvers,MA,01923,42.557774,-70.968645,2.5,160,1,"[Nightlife, Salad, Italian, Wine Bars, Bars, S...",Rachel,2.71
8,YKe7GGhuCpQN9Bu5obidhg,Y-j2svl0M_5-jF1ehYuNPQ,FbiExeeQVmpfCNo7YJuM9w,4.0,I love Acapulocos! Benny the bartender is the ...,Acapulcos Mexican Family Restaurant & Cantina,900 Cummings Ctr,Beverly,MA,01915,42.558594,-70.887338,3.0,138,1,"[Nightlife, Bars, Venues & Event Spaces, Event...",Rachel,2.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5573633,5MdKBginb6H6rXyTy3DnjQ,NKM-wI0jpoAOsgY6etpg6Q,5tBNQ7Bq5j-WVUqpG495SA,5.0,Great Japanese dishes: fresh and tasty. Defini...,My Ramen & Izakaya,"3280 28th St, Unit 2",Boulder,CO,80301,40.034071,-105.257423,4.0,175,1,"[Izakaya, Tapas/Small Plates, Japanese, Ramen]",Ra,3.58
5573634,zJA30X1C_5Q9aM2q-SlPaA,QN84KhOUhNi9Swkz0W2Ufg,5tBNQ7Bq5j-WVUqpG495SA,5.0,"Came in for lunch, was pleasantly surprised wi...",My Ramen & Izakaya,"3280 28th St, Unit 2",Boulder,CO,80301,40.034071,-105.257423,4.0,175,1,"[Izakaya, Tapas/Small Plates, Japanese, Ramen]",Ron,5.00
5573635,WtpQC9rqdz0GtBhzIxRHBw,W9aZR_AOKN50EY9xVN40gw,5tBNQ7Bq5j-WVUqpG495SA,1.0,"Found a roach in my noodle, gross. Would defin...",My Ramen & Izakaya,"3280 28th St, Unit 2",Boulder,CO,80301,40.034071,-105.257423,4.0,175,1,"[Izakaya, Tapas/Small Plates, Japanese, Ramen]",Paul,1.00
5573636,sXtON-oRwY394BTo_oP3qA,XzVxoTw-d1yjMxHyk1qFjw,5tBNQ7Bq5j-WVUqpG495SA,5.0,"Wow, what an amazing meal from start to finish...",My Ramen & Izakaya,"3280 28th St, Unit 2",Boulder,CO,80301,40.034071,-105.257423,4.0,175,1,"[Izakaya, Tapas/Small Plates, Japanese, Ramen]",Olivia,3.79
5573637,oQo_i7vuTrxRm5vhTMczRw,O6OwxRew_kM7gGrsCWL9hA,5tBNQ7Bq5j-WVUqpG495SA,5.0,We got delivery from this restaurant and it wa...,My Ramen & Izakaya,"3280 28th St, Unit 2",Boulder,CO,80301,40.034071,-105.257423,4.0,175,1,"[Izakaya, Tapas/Small Plates, Japanese, Ramen]",Wendy,4.38

Creating a threshold where we are only including users where review count is greater than 50.

In [8]:
# Group the 'final_data' DataFrame by 'user_id' and count the number of ratings/stars given by each user.
user_ratings_count = final_data.groupby('user_id').count()['stars']

# Create a boolean Series 'avid_reviewers', which indicates whether each user has rated more than 200 times or not.
high_reviewers = user_ratings_count > 50

# Filter the 'user_ratings_count' Series to get only the index (user_id) of users who have rated more than 200 times.
restaurant_reviewers = user_ratings_count[high_reviewers].index

To ensure the users with more than 50 reviews are included in the dataframe, we check using isin().

In [9]:
final_data_ratings = final_data[final_data['user_id'].isin(restaurant_reviewers)]
final_data_ratings.shape

(649942, 18)

### Collaborative-Filtering Recommendation System

In [10]:
final_data_ratings_pivot = final_data_ratings.pivot_table(index='restaurant_name', columns='user_id', values='stars')

In [11]:
final_data_ratings_pivot.shape

(12185, 6907)

In [12]:
# Displaying the first few rows to get an initial glimpse of the data
final_data_ratings_pivot.head()

user_id,--u09WAjW741FdfkJXxNmg,-0DGavcoDjwNU70HGcfRWA,-0MQ4webH2uc1ZAsGsNENg,-0O2d7C1KFutGQmdCtJmYA,-0ryDHRHIl3n6_NHvgF17g,-2sNTzGyci98Mp9PmPRg8w,-3ATrOPUw9ZFTYkMIFfmwQ,-3k65IY08ckDcOGQmf8BDg,-3qt2Mxn-rmy4QHbTWUk-g,-3s52C4zL_DHRK0ULG6qtg,...,ztvqist9kSgAftuRfmiSFQ,zvsPPIECnIQPBDwnku9KxA,zwCc2g3P6ZgvZ7EvCRWzuA,zwi8QtDPjvUOD9sWDGakZg,zx1tklXFIsQxK9LDgF5CPw,zx4c7K-1eBSvEmUg7zqiZQ,zx5rdBK9NFZrAglIXF1LiQ,zx8hZcEiqwLnPJWSsblyzA,zyUZ2DW39g8gNkbyVRYmow,zzUJtczxZbVyR7PPA2ydrw
restaurant_name,,,,,,,,,,,,,,,,,,,,,
Gruby's New York Deli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Ohana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
/pôr/ wine house,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10 Barrel Brewing Portland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
10 Degrees South,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
final_data_ratings_pivot.fillna(0, inplace=True)
final_data_ratings_pivot

user_id,--u09WAjW741FdfkJXxNmg,-0DGavcoDjwNU70HGcfRWA,-0MQ4webH2uc1ZAsGsNENg,-0O2d7C1KFutGQmdCtJmYA,-0ryDHRHIl3n6_NHvgF17g,-2sNTzGyci98Mp9PmPRg8w,-3ATrOPUw9ZFTYkMIFfmwQ,-3k65IY08ckDcOGQmf8BDg,-3qt2Mxn-rmy4QHbTWUk-g,-3s52C4zL_DHRK0ULG6qtg,...,ztvqist9kSgAftuRfmiSFQ,zvsPPIECnIQPBDwnku9KxA,zwCc2g3P6ZgvZ7EvCRWzuA,zwi8QtDPjvUOD9sWDGakZg,zx1tklXFIsQxK9LDgF5CPw,zx4c7K-1eBSvEmUg7zqiZQ,zx5rdBK9NFZrAglIXF1LiQ,zx8hZcEiqwLnPJWSsblyzA,zyUZ2DW39g8gNkbyVRYmow,zzUJtczxZbVyR7PPA2ydrw
restaurant_name,,,,,,,,,,,,,,,,,,,,,
Gruby's New York Deli,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Ohana,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
/pôr/ wine house,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Barrel Brewing Portland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
10 Degrees South,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
wagamama - faneuil hall,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
wagamama - prudential,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
wagamama - seaport,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zpizza,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ñoños tacos,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
from sklearn.metrics.pairwise import cosine_similarity

similarity_scores = cosine_similarity(final_data_ratings_pivot)
similarity_scores.shape

/Users/diane/anaconda3/envs/bigdata_ml/lib/python3.8/site-packages/sklearn/utils/extmath.py:193: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b

(12185, 12185)

In [15]:
def recommend(restaurant_name):
    # Find the index of the input restaurant name in the pivot table
    index = np.where(final_data_ratings_pivot.index == restaurant_name)[0][0]

    # Retrieve the similarity scores of the input restaurant with other restaurants,
    # sort them in descending order, and select the top 4 similar items
    similar_items = sorted(list(enumerate(similarity_scores[index])), key=lambda x: x[1], reverse=True)[1:5]

    # Initialize an empty list to store recommended restaurant names
    data = []

    # Iterate through each similar item
    for i in similar_items:
        # Fetch the relevant restaurant name from the 'business_data' dataset
        similar_restaurant_name = final_data_ratings_pivot.index[i[0]]

        # Append the restaurant name to the 'data' list
        data.append(similar_restaurant_name)

    # Return the 'data' list containing names of the recommended restaurants
    return data

In [16]:
# Filter data for the city of Vancouver
vancouver_data = final_data[final_data['city'] == 'Vancouver']

# Sort the filtered data by the 'review_count' column in descending order
vancouver_data_sorted = vancouver_data.sort_values('review_count', ascending=False)

# Drop duplicates of 'restaurant_name' to get unique restaurants
vancouver_data_unique = vancouver_data_sorted.drop_duplicates(subset='restaurant_name')

# Display the top 5 restaurants with the highest review_count
top_10_restaurants = vancouver_data_unique.head(10)
top_10_restaurants[['restaurant_name', 'address', 'city', 'state', 'restaurant_rating', 'review_count', 'categories']]

,restaurant_name,address,city,state,restaurant_rating,review_count,categories
444912,Medina Cafe,780 Richards Street,Vancouver,BC,4.0,2302,"[Bars, Moroccan, Wine Bars, Breakfast & Brunch..."
4383302,Miku,"200 Granville Street, Suite 70",Vancouver,BC,4.5,1805,"[Japanese, Sushi Bars]"
2025055,Chambar,568 Beatty Street,Vancouver,BC,4.0,1356,"[Cafes, Middle Eastern, Nightlife, Breakfast &..."
2262636,Phnom Penh,244 E Georgia Street,Vancouver,BC,4.0,1306,"[Vietnamese, Cambodian]"
52234,Jam Cafe on Beatty,556 Beatty Street,Vancouver,BC,4.5,1097,[Breakfast & Brunch]
2241168,The Flying Pig - Yaletown,"1168 Hamilton Street, Unit 104",Vancouver,BC,4.0,1092,"[American (Traditional), American (New), Canad..."
3241056,Joe Fortes Seafood & Chop House,777 Thurlow Street,Vancouver,BC,4.0,1037,"[Seafood, Steakhouses, Nightlife, American (Tr..."
4420398,Twisted Fork,213 Carral Street,Vancouver,BC,4.0,1032,"[American (New), Breakfast & Brunch, French]"
184077,Japadog,899 Burrard Street,Vancouver,BC,4.0,987,"[Food Stands, Japanese, Hot Dogs]"
359152,Hokkaido Ramen Santouka,1690 Robson Street,Vancouver,BC,4.0,949,"[Ramen, Japanese, Noodles]"

In [37]:
vancouver_data.sample(5)

,review_id,user_id,business_id,stars,text,restaurant_name,address,city,state,postal_code,latitude,longitude,restaurant_rating,review_count,is_open,categories,user_name,average_stars
4283208,QSwRI2NgsjyMqRlScqkeJg,1iSJNldGM4q3mHjySj_DjA,pPv4ymYGKETCGMCeatE6cQ,5.0,"Awesome quick service, Jessica was really nice...",Olive Garden Italian Restaurant,16405 SE Mill Plain Blvd,Vancouver,WA,98684,45.614801,-122.503867,3.0,102,1,"[Nightlife, Salad, Italian, Soup, Wine Bars, B...",Elvira,3.00
190071,W5aTzF---bp0Km6mgZqPHw,b3tvRfgph2LzYvxejCjU_w,p5thThuUITUjAy8gS3sPMw,5.0,Fable = Fabulous! A to Z five stars! Farm to t...,Fable,1944 W 4th Avenue,Vancouver,BC,V6J 1M5,49.267933,-123.149019,4.5,681,1,"[Canadian (New), American (New)]",Marina,4.27
5163249,Lzf1tGG4S2NLfwf7nmuD4g,OdjW4HH9ha97QCRf5fifIQ,jZ55Mq1loOlNqwOSCelh9A,5.0,Found this restaurant on YELP while in town fo...,Tuc Craft Kitchen,60 W Cordova Street,Vancouver,BC,V6B 1C9,49.282705,-123.106145,4.0,946,0,"[Canadian (New), Nightlife, Comfort Food, Bars]",Marjorie,3.47
4946907,yzH24sbCk1M-wTUEJY-Nsw,ZwkxKqVM4azHj4ERK9CTKA,p5thThuUITUjAy8gS3sPMw,5.0,"The atmosphere was great and very welcoming, c...",Fable,1944 W 4th Avenue,Vancouver,BC,V6J 1M5,49.267933,-123.149019,4.5,681,1,"[Canadian (New), American (New)]",Anna,4.83
574147,TkE9RjJ7UNp_Qw9Yf2YFXA,3HZAs_AVNud9QoHcIENAyg,_Xxsjm_mUn5yQ17TrBmRHg,2.0,Let's just say there are many restaurants in Y...,West Oak Restaurant,1035 Mainland Street,Vancouver,BC,V6B 1A9,49.276416,-123.119546,3.5,212,1,"[Canadian (New), Champagne Bars, Seafood, Nigh...",Brenda,3.81

In [1]:
recommend('Miku')

NameError: name 'recommend' is not defined